/* Estilo geral */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #444444;
} 

code {
    background: rgb(40, 38, 38);
}
a {
    border-bottom: 1px solid #444444; 
    color: #444444; 
    text-decoration: none;
}
a:hover {
    border-bottom: 0;
}

/* Cabeçalho */
header {
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
}

/* Navegação (links) */
nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  transition: 0.3s;
}

/* Efeito hover */
nav a:hover {
  color: #e4e800;
}

p{
    color:white;
}